<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
        <div class="items-left">
            <h2 class="card-title text-2xl font-bold mb-6">Login</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-control mt-6">
                <%= f.label :email, class: "label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered flex items-center gap-2" %>
            </div>
            
            <div class="form-control mt-6">
                <%= f.label :password, class: "label" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered flex items-center gap-2" %>
            </div>
            
            <% if devise_mapping.rememberable? %>
                <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                </div>
            <% end %>
            
            <div class="form-control mt-6">
                <button class="btn btn-primary">
                    <%= f.submit "Log in" %>
                </button>
            </div>
            <% end %>
        </div>
        

        <div class="text-center">

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
