<div class="flex flex-col min-h-screen bg-gray-100">
  <main class="flex-grow flex flex-col items-center justify-center px-4">
    <% if !@room.deck.present? %>
      <p class="text-lg text-gray-700 mb-6">Nenhum deck configurado ainda.</p>
      <%= link_to 'Configurar Deck', new_room_deck_path(room_id: @room.id), 
          class: "bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700" %>
    <% end %>

    <section class="flex items-center justify-center w-full h-[500px] bg-gray-200 rounded-lg shadow-lg overflow-hidden">
      <% @room.users.each_with_index do |user, index| %>
        <% random_x = rand(10..90) %>
        <% random_y = rand(10..90) %>

        <div 
          class="flex flex-col items-center text-center transition-transform duration-500 p-4"
          style="top: <%= random_y %>%; left: <%= random_x %>%;">
          <div class="card w-16 h-24 bg-blue-500 text-white rounded-lg p-4 shadow-xl">
            <p class="text-sm font-bold">?</p>
          </div>
          <p class="text-xs font-medium text-gray-800"><%= user.name || user.email %></p>
        </div>
      <% end %>
    </section>
  </main>
  
  <div class="flex justify-center gap-4">
      <button 
        class="btn btn-md  btn-primary">
            Revelar Votos
      </button>
  </div>
  
  <footer class="w-full bg-gray-100 py-6">
    <section 
        data-controller="voting" 
        data-voting-room-id="<%= @room.id %>"
    >
        <div class="flex justify-center gap-4">
            <% @room.deck.cards_as_array.each do |card| %>
                <div 
                    class="btn card bg-base-100 rounded-lg p-4 shadow-xl cursor-pointer"
                    data-card="<%= card %>"
                    data-round-id="<%= @round.id %>"
                    data-action="click->voting#selectCard"
                >
                    <div class="card-body">
                    <h1 class="font-bold text-blue-600 text-center"><%= card %></h1>
                    </div>
                </div>
            <% end %>
        </div>
        
        <div data-voting-target="results" class="mt-4">
            <!-- Resultados aparecerão aqui -->
        </div>
    </section>
  </footer>
</div>
